Repository dmytro-nesteruk/cinema-time: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, bash -c 'pnpm check:formatting', bash -c 'pnpm check:code', bash -c 'pnpm check:types'

.lintstagedrc.json:

{
	"$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
	"./**/*.{ts,tsx,js,jsx,json,html,css,scss}": "bash -c 'pnpm check:formatting'",
	"./**/*.{ts,tsx}": ["bash -c 'pnpm check:code'", "bash -c 'pnpm check:types'"]
}

refactor: updated styles, improved UX;
  src/entities/user-event/model/store.ts
  src/entities/user-event/ui/user-event-card.module.css
  src/entities/user-event/ui/user-event-card.tsx
  src/features/add-user-event/model/add-user-event-validation-schema.ts
  src/features/add-user-event/model/use-add-user-event-form.ts
  src/features/add-user-event/ui/add-user-event.tsx
  src/features/delete-user-event/model/use-delete-user-event.ts
  src/features/delete-user-event/ui/delete-user-event.tsx
  src/routes/index.tsx
  src/shared/ui/layouts/main.module.css
  src/widgets/date-filters/model/search-validator.ts
  src/widgets/date-filters/model/types.ts
  src/widgets/date-filters/model/use-date-filters.ts
  src/widgets/date-filters/ui/date-filters.tsx
Due: bash -c 'pnpm check:formatting', bash -c 'pnpm check:code', bash -c 'pnpm check:types'

refactor: updated user-event-card UI;
  src/entities/user-event/ui/user-event-card.tsx
Due: bash -c 'pnpm check:formatting', bash -c 'pnpm check:code', bash -c 'pnpm check:types'

refactor: removed unused styles;
  src/entities/user-event/ui/user-event-card.module.css
Due: bash -c 'pnpm check:formatting'

feat: implemented movie-session feature;
  package.json
  pnpm-lock.yaml
  src/entities/movie-session/index.ts
  src/entities/movie-session/model/map-to-movie-session-card-props.ts
  src/entities/movie-session/ui/movie-session-card.tsx
  src/entities/movie/index.ts
  src/entities/movie/model/store.ts
  src/entities/movie/ui/movie-card.tsx
  src/features/book-session/index.ts
  src/features/book-session/model/book-session.ts
  src/features/book-session/ui/book-session.tsx
  src/main.tsx
  src/routeTree.gen.ts
  src/routes/index.tsx
  src/routes/sessions/$id.tsx
  src/routes/sessions/index.tsx
  src/shared/models/cinema-session.ts
  src/shared/models/movie.ts
  src/shared/ui/base/link-button.tsx
  src/shared/ui/layouts/main.module.css
  src/shared/ui/layouts/main.tsx
  src/widgets/date-filters/ui/date-filters.tsx
Due: bash -c 'pnpm check:formatting', bash -c 'pnpm check:code', bash -c 'pnpm check:types'

chore(config): added stylelint;
  .lintstagedrc.json
  .stylelintignore
  .stylelintrc.mjs
  package.json
  pnpm-lock.yaml
  src/shared/ui/layouts/main.module.css
  src/widgets/date-filters/ui/date-filters.tsx
Due: bash -c 'pnpm check:formatting', bash -c 'pnpm check:code', bash -c 'pnpm check:types'

chore: changed README.md;
  README.md
Due: none

fix: fixed typo;
  README.md
Due: none
